@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Candal&family=Carter+One&family=Federo&family=Francois+One&family=Fuzzy+Bubbles:wght@400;700&family=Hi+Melody&family=Major+Mono+Display&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@400;500;600;700;800;900&family=Rammetto+One&family=Saira+Condensed:wght@300;400;700&family=Sigmar+One&family=Spectral:wght@400;500&family=Ubuntu&display=swap');

.project-one {
  margin: 0;
  padding: 0;
  display: flex;
  height: 55vh;
  align-items: center;
  justify-content: center;
  background: #fff;
}
span {
  position: relative;
  display: inline-flex;
  width: 550px;
  height: 350px;
  margin: 0 15px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.5s;
  font-family: 'Montserrat', sans-serif;
}
/* img {
  height: 350px;
  width: 550px;
} */
span a:before,
span a:after {
  position: absolute;
  content: 'button';
  height: 350px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.mehread a:before {
  color: #fff;
  background: url('/mehread.png') no-repeat fixed center;
  background-size: 550px 350px;
  perspective: 1000px;
  transform: rotateY(0deg) translateZ(175px);
}
.mehread :after {
  color: #000;
  background: #fff;
  padding: 30px;
  /* content: '11111111111111111111'; */
  /* content: '1111111111111111111111'; */
  content: 'MEHread: a book reading tracker. Allowing users to effortlessly search, save, and savor books while tracking your reading journey with personalized progress markers.';
  transform: rotateX(90deg) translateZ(175px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.tech-stack {
  position: relative;
  margin-left: 20%;
  display: inline-flex;
  width: 650px;
  font-family: 'Candal';
  font-size: 25px;
  color: #392a48;
}
.stack {
  /* position: relative;
  margin-left: 20%;
  display: inline-flex;
  width: 550px; */
  margin-top: 10px;
  padding: 5px 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #fff;
  background-color: #392a48;
}

.visit{
  position: relative;
  margin-top: 10px;
  margin-left: 20%;
  display: inline-flex;
  width: 650px;
  font-family: 'Candal';
  font-size: 25px;
  color: #392a48;
}
.site{
  margin-top: 0px;
  padding: 2px 5px;
  margin-right: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
}


