

.window {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  border-radius: 3px;
  border-style: dotted;
  
}

.bar {
  background-color: gray;
}

.window-body {
  background-color: black;
}


