/* 
font-family: 'Abel', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Candal', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'Federo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Francois One', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Hi Melody', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rammetto One', cursive;
font-family: 'Saira Condensed', sans-serif;
font-family: 'Sigmar One', cursive;
font-family: 'Spectral', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu', sans-serif
*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Candal&family=Carter+One&family=Federo&family=Francois+One&family=Fuzzy+Bubbles:wght@400;700&family=Hi+Melody&family=Major+Mono+Display&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@400;500;600;700;800;900&family=Rammetto+One&family=Saira+Condensed:wght@300;400;700&family=Sigmar+One&family=Spectral:wght@400;500&family=Ubuntu&display=swap');

/* structure*/
.body {
  position: relative;
  background-color: white;
  font-family: 'Merriweather';
}

.margin-body {
  position: relative;
  background-color: white;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 750px;
  padding: 20px 20px;
  overflow: auto;
}

/*header design*/
.header {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  margin-bottom: 70px;
}

.header-right {
  float: right;
  margin: 0;
}

h1 {
  color: #392A48;
  font-family: 'Candal';
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 45px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

h1 a,
h1 a:visited {
  position: relative;
  text-decoration: none;
  color: #998f0671;
  /*font-variant: small-caps;*/
}

/*main design*/
.red-box {
  position: relative;
  background-color: white;
  margin-bottom: 40px;
  padding: 0px 0px;
}

h2 {
  font-family: 'Candal', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #678450cb;
  text-align: left;
  line-height: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
}

h2 a,
a:visited {
  text-decoration: none;
  color: #678450cb;
  text-align: left;
}

p {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing: 1.5px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 5px;
}

small {
  position: relative;
  /*color: rgb(121, 49, 97);*/
  text-align: left;
  font-size: 14px;
  line-height: 15px;
  margin: 0px;
}

ul {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing: 1.5px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 5px;
}

/*footer design*/
footer {
  position: relative;
  margin-top: 80px;
  padding-top: 0px;
  font-size: 14px;
  text-align: left;
}

#blog-h2-style {
  color: #162011ce;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0px;
}

/* mobile device */
@media screen and (max-width: 320px) {
  /*structure*/
  .margin-body {
    padding: 0px 20px;
  }

  /* header*/
  .header {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 45px;
  }
  #pineapple-size {
    width: 60px;
  }

  /*main*/
  .red-box {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 23px;
    margin-bottom: 0px;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 25px;
    padding-top: 0px;
  }

  #blog-h2-style {
    font-size: 28px;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  #html-css-img-style {
    flex-direction: column;
  }

  #html-css-img-space {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1100px) {
  #egg-fixed-position {
    bottom: 0px;
    left: 90vmin;
  }
}

#html-css-img-style {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

#html-css-img-style img {
  max-width: 100%;
  height: auto;
  border: 2px dashed #c5c5c5d3;
  border-radius: 15px;
}

#egg-fixed-position {
  position: fixed;
  bottom: 0px;
  right: 20%;
}

#blog-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

#blog-img img {
  max-width: 100%;
  height: auto;
  border: 2px dashed #c5c5c5d3;
  border-radius: 15px;
}

#img-no-border {
  border: 0px dashed #c5c5c5d3 !important;
}

#text-highlight {
  background-color: #c5c5c5d3;
}

#js-dom-example:hover {
  animation: shake 0.5s;
}